.book {
    margin: 20px 20px;
}

.books-container {
    display: flex;
    width: 100%;
}

.book-cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 200px;
    width: 150px;
}

.search-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
}